


.alsf-2-col-content 
{
    position:relative;
    padding:50px 0px;
}
    .alsf-2-col-content h2 {
        letter-spacing: 2px;
        font-size: 60px;
        line-height: 1;
    }
    .alsf-2-col-content p 
    {
        max-width:90%;
        padding:30px 0px;
    }
.amenties-section {
    position: relative;
    background-color: #eee;
    height:190px;
}
    .amenties-section .amenties-ul {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-direction: row;
        text-align: center;
        height: 190px;
        padding-top: 60px;
        padding-left: 30px;
        padding-right: 30px;
    }
        .amenties-section .amenties-ul li 
        {
            margin-left:15px;
            margin-right:15px;
        }
        
        .amenties-ul .img {
            height: 50px;
        }

.amenties-ul img {
    display: block;
    margin: 0 auto;
}
/*************/
.alsf-rm-4-8 
{
    padding:50px 0px;
    position:relative;
}
.alsf-rm-4-8 .content p
{
    max-width:300px;
    margin:0 auto;
}
    
    .alsf-rm-4-8 .Aligner {
        text-align: center;
    }
        .alsf-rm-4-8 .Aligner h2 {
            font-size: 60px;
            padding-bottom: 10px;
        }


        .alsf-rm-4-8 .Aligner p {
            text-align: center;
            padding-bottom: 40px;
        }
        .alsf-rm-4-8 .Aligner .icon-ul {
            justify-content: center;
            padding-bottom:40px;
        }
            .alsf-rm-4-8 .Aligner .icon-ul li 
            {
                margin-right:15px;
                margin-left:15px;
            }
.alsf-rm-slider {
    padding: 0px 25px;
    position: relative;
    height:600px;
}
.alsf-rm-4-8 .content .seperator {
    width: 40px;
    height: 2px;
    background-color: #191a22;
    margin: 0 auto;
    margin-bottom:40px;
}
.alsf-rm-4-8 .content a.book-now-header {
    width: 150px;
    height: 52px;
    display: block;
    padding-top: 13px;
    margin:0 auto;
    position:relative;
}